.container {
  padding: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.input-texto {
  width: 30%;
  margin-bottom: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.texto-mostrado {
  word-break: break-word;
  border: 1px solid #8172ac;
  padding: 10px;
  width: 100px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}